extends base.pug



block content
    if errMessage
        span=errMessage
    form(method="POST")
        input(placeholder="Title" name="title" required)
        input(placeholder="Description" name="description" required)
        input(placeholder="Hashtags separated by comma" name="hashtags" required)
        input(value="Upload Video" type="submit" )